# Hugo specific
public/
freeonestube-scraper-multilanguage-post-creator/videos/
freeonestube-scraper-multilanguage-post-creator/translation_json_data/
freeonestube-scraper-multilanguage-post-creator/json_data/